@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@font-face {
    font-family: "Splatoon";
    src: url("../fontstyle/splatoon2-webfont.eot");
    src: url("../fontstyle/splatoon2-webfont.woff") format("woff"),
    url("../fontstyle/Splatoon2.otf") format("opentype"),
    url("../fontstyle/splatoon2-webfont.svg") format("svg");
}

*{margin: 0;padding: 0;box-sizing: border-box;}
:root{
    --color-white:hsl(252, 30%, 100%);
    --color-light:hsl(252, 30%, 95%);
    --color-grey:hsl(252, 30%, 80%);
    --color-success:hsl(120, 72%, 52%);
    --color-error:hsl(0, 72%, 52%);
    --color-dark:hsl(252, 30%, 20%);
    --color-lightblue:hsl(195, 53.3%, 79%);
    --color-black:hsl(252, 30%, 0%);
    --color-primary:hsl(30, 100%, 50%);
    --color-secondary: hsl(60, 100%, 50%);

    --border-radius: 1rem;
    --card-board-radius: 1rem;
    --btn-padding: .6rem 2rem;
    --search-padding: .6rem 1rem;
    --card-padding: .5rem;
}

body{
    color: var(--color-dark);
    background-color: var(--color-lightblue);
    font-family: "Splatoon", sans-serif;
}

li{
    list-style: none;
}

h2{
    text-align: left;
    font-size: 40px;
    padding: 15px;
}

a{
    offset: 50px;
    color: var(--color-dark);
}

.make{
    font-size: 15px;
}
.menu{
    display: inline-block;
    justify-content: space-between;
    margin-top: 5px;
    margin-left: 20%;
    margin-bottom: 5px;

}
.container{
    width: 95%;
    margin: 0 auto;
}



/* Navbar time! */
.navbar{
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: var(--color-white);
    color: var(--color-dark);
}
.nav-link a{
    color:var(--color-dark);
}
/*logo*/
.logo{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
}
/*menu*/
.menu{
    display: flex;
    gap: 1em;
    font-size: 15px;
}
.menu li:hover {
    background-color: var(--color-primary);
    border-radius: 5px;
    transition: 0.3s ease;
}
.menu li {
    padding: 5px 14px;
}

    .topics {
    position: relative; 
}
   .dropdown {
    background-color: var(--color-secondary);
    padding: 1em 0;
    position: absolute; /*WITH RESPECT TO PARENT*/
    display: none;
    border-radius: 8px;
    top: 35px;
}
   .dropdown li + li {
    margin-top: 10px;
}
   .dropdown li {
    padding: 0.5em 1em;
    width: 8em;
    text-align: center;
}
   .dropdown li:hover {
    background-color: var(--color-primary);
}
   .topics:hover .dropdown {
    display: block;
}
/*Respond*/
    input [type="checkbox"]{
        appearance: none;
}
/*hamburger in computer*/
    .hamburger{
        display: none;
        font-size: 15px;
        user-select: none;
}
.search{
    border: var(--color-grey) 10px solid;
    border-radius: var(--border-radius);
    display: flex;
    align-items: right;
    margin-left: 63%;
    background-color: var(--color-white);
    color: var(--color-dark);

}
.search-bar{
    border: none;
    background-color: var(--color-grey);
    outline: none;
    font-size: 15px;
    width: 100%;
}

/*Media query*/
@media screen and (max-width: 768px){
    .menu{
        display: none;
        position: absolute;
        background-color: var(--color-primary);
        right: 0;
        left: 0;
        text-align: left;
        padding: 16px 0;
 }
    .menu li:hover{
        display: inline-block;
        background-color: var(--color-primary);
        transition: .3s ease;
}
    .hamburger:hover .menu{
        display: block;
}
    
        .menu li+li{
        margin-top: 12px;
}
    .hamburger{
        display: block;
}
    .dropdown{
        left: 50%;
        top: 30px;
        transform: translateX(35%);
}
    .dropdown li:hover{
        background-color: var(--color-primary);
}
    .search{
        display: block;
        margin: 0 auto;
    }
}

/*posting area*/
.post-area{
    text-align: center;
    width: 50%;
    background-color: var(--color-white);
    border-radius: var(--border-radius);
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left:25%;
    margin-right:25%;
    padding: 10px;
    display:inline-block;
}
.post{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    margin-left: 10%;
}

.profile-picture{
    margin-right: 3%;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
}
.pp{

    margin-right:100px;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    object-fit: cover;
}

.post-text{
    margin-left: 10px;
    margin-right: 10px;
    width: 15%;
    object-fit: cover;
}

.post-text{
    border: var(--color-white) 10px solid;
    border-radius: var(--border-radius);
    display: flex;
    align-items: justify;
    /* margin-left: 10%; */
    background-color: var(--color-white);
    color: var(--color-dark);
    width:75%;
}
.type{
    border: none;
    background-color: var(--color-white);
    outline: none;
    font-size: 15px;
    width: 100%;
}
/*Files?*/
.filepic{
    width:30px;
    height:30px;
    border-radius: 50%;
}
.file-upload{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    margin-left: 10%;
}
.file-upload input[type="file"]{
    display: none;
}
/*Post*/
.make{
    /*move make to the right side*/
    margin-left: 70%;
    margin-top: 10px;
    border: var(--color-lightblue) 10px solid;
    border-radius: var(--border-radius);
    display: flex;
    align-items: justify;
    background-color: var(--color-lightblue);
    color: var(--color-dark);
    width:10%;
}
.make-post{
    border: none;
    background-color: var(--color-lightblue);
    outline: none;
    font-size: 15px;
    width: 100%;
}
